VITE_API_BASE_URL=http://localhost:4003
VITE_WS_URL=
VITE_DEV_BYPASS_AUTH=true
VITE_TON_NETWORK=testnet
VITE_PAYMENT_TIMEOUT_MINUTES=15
VITE_TG_MINI_APP_URL=https://t.me/tothemoon_dev_bot/tothemoondev
VITE_AMPLITUDE_API_KEY=
